.cardo{
    position: relative;
    left: 10%;
    height: 75px;
    
}
#cards{
    height: 55px;
    background: linear-gradient(90deg, #c06c96, hsla(325, 71%, 73%, 0.849));  
}
#buton{
    height: 40px;
    width: 150px;
    position: relative;
    left: 82%;
    top: -38px;
}